* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'segoe ui';
  background: rgb(238, 236, 236);
}

.nav {
  height: 50px;
  width: 100%;
  background-color: #4d4d4d;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

.nav > .cartcount {
  font-weight: 500;
  font-size: 22px;
  color: #abce10;
  padding: 10px 10px 10px 10px;
}

.section {
  width: 100%;
}

.container {
  position: relative;
  width: 1170px;
  margin: 0 auto;
  color: #444;
  font-size: 14px;
  font-weight: 300;
  font-family: Roboto, 'Open Sans', Arial, sans-serif;
  overflow: hidden;
}

.section .container {
  padding: 30px 0 50px 0;
}

.section.bg {
  background: #f7f7f7;
}
/*
  Header
*/

.hold {
  height: 80px;
}

.header {
  line-height: 80px;
  width: 100%;
  transition: line-height 0.2s linear, box-shadow 0.2s linear;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(245, 245, 245, 0.97);
}

.header.small {
  line-height: 50px;
  box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.8);
}

.header.small > .container > #logo {
  height: 40px;
}

#logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: red;
  float: left;
  height: 40px;
  width: 170px;
  margin-left: 5px;
}

ul.nav {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.nav li {
  float: left;
  position: relative;
}

ul.nav li a {
  transition: color 0.2s linear;
  font-size: 18px;
}

ul.nav li:hover a {
  color: red;
}

ul.nav li a {
  padding: 21px;
  color: initial;
  text-decoration: initial;
}
/*
  Slider
*/

.section .slider,
.section .footer {
  background: #333;
}

.slidercontent {
  text-align: center;
}

.hero {
  font-family: 'Roboto Slab', sans-serif;
  color: white;
  font-weight: normal;
  letter-spacing: 1px;
}

h1.hero {
  font-size: 54px;
}

h2.hero {
  font-size: 30px;
  margin-bottom: 60px;
}

h1.hero:after {
  content: "";
  width: 300px;
  position: relative;
  border-bottom: 1px solid #aaa;
  text-align: center;
  margin: auto;
  margin-top: 15px;
}

.call {
  color: white;
  display: block;
  margin-bottom: 20px;
}

.call span {
  display: inline;
  border: 1px solid white;
  padding: 8px 13px;
  font-size: 20px;
  transition: background 0.15s linear;
}

.call span:hover {
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
.maincard {
  display: grid;
  gap: 30px;
  grid-template-columns: 3fr 3fr 3fr 3fr;
  padding: 10px;
}
.card {
  width: 300px;
  background: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}
.card:hover{
  transition: all .2s ease-in-out;
  box-shadow: 5px 5px 5px 5px #b1afaf;
}
.card img{
  height: 150px;
}
.card h3 {
  font-size: 18px;
  margin-bottom: 0;
}

.card .btn{
  background: blue;
  color: white; 
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.card .btn:hover{
  background: lightblue;
  color: black;
}

.cartitems{
  width: 100%;
  padding: 20px;
}
.cardcart {
  display: flex;
  justify-content:space-between;
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 10px;
}
.cardcart img{
  height: 80px;
}
.cardcart h4 {
  text-align: center;
  width: 30%;
}

.cardcart .btn{
  background: rgb(209, 29, 29);
  color: white; 
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.cardcart .btn:hover{
  background: rgb(233, 96, 96);
  color: black;
}

.container {
  max-width: 960px;
  max-width: 960px;
  margin: 0 auto 2em;
  text-align: center;
}

.conatiner h1 {
  font-weight: normal;
  padding: 1em;
  border: 1px dashed #4d4d4d;
  text-align: center;
  border-radius: 3px;
  margin-bottom: 1em;
}

.loading{
  text-align: center;
  padding: 1em;
  
}